<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Mass Calc</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/dashboard">Dashboard</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/analysis/showAll">My Analysis</a></li>
					<li><a href="/analysis/new">New Analysis</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
		<h1>Hello {{ user.first_name }} {{ user.last_name }}!
		</h1>
		<div class="row">
			<div class="col-md-1"></div>
			<div class='col-md-10'>
			<table class="table table-bourdered">
				<thead>
					<th>Name</th>
					<th>Client</th>
					<th>Project</th>
					<th>Updated At</th>
				</thead>
				{% for entry in analysis %}
				<tr>
					<td><a href="/analysis/results/{{ entry.id }}">{{ entry.name }}</a></td>
					<td>{{ entry.client }}</td>
					<td>{{ entry.project }}</td>
					<td>{{ entry.updated_at }}</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</body>
</html>